In [100]:
import pandas as pd
edited_df = pd.read_csv('dataframe.csv')
pv_column = "Planned Value (PV)"
ev_column = "Earned Value (EV)"
ac_column = "Actual Cost (AC)"
edited_df[pv_column] = edited_df[pv_column].fillna(0)
edited_df[ev_column ] = edited_df[ev_column].fillna(0)
edited_df[ac_column] = edited_df[ac_column].fillna(0)

In [101]:
edited_df.groupby('Semana').sum()

C:\Users\eddyc\AppData\Local\Temp\ipykernel_17428\2088132978.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  edited_df.groupby('Semana').sum()

        Planned Value (PV)  Earned Value (EV)  Actual Cost (AC)
Semana
1.0                10000.0           11666.67           10833.0
2.0                10000.0           11666.67           10833.0
3.0                10000.0           11666.67           10833.0
4.0                10000.0           11666.67           10833.0
5.0                10000.0           11666.67           10833.0
6.0                10000.0           11666.67           10833.0
7.0                10000.0               0.00               0.0
8.0                10000.0               0.00               0.0
9.0                10000.0               0.00               0.0
10.0               10000.0               0.00               0.0

In [102]:
def cpi(ac, ev):
    return ev/ac

def spi(ev, pv):
    return ev/pv

def cv(ac, ev):
    return ev - ac

def sv(pv, ev):
    return ev - pv

def csi(c, s):
    return c*s

def etc(ea, ac):
    return ea - ac 

def eac(b, cp):
    return b/cp

def bac(pvs):
    return sum(pvs)

In [123]:
semanas = edited_df["Semana"].unique()
accumulated = []
for semana in semanas:
    filtered_df = edited_df[edited_df['Semana'] <= semana]
    accumulated.append(filtered_df[[pv_column, ev_column, ac_column]].sum())
result_df = pd.DataFrame(accumulated, index=semanas)
result_df["CV"] = round(cv(result_df[ac_column], result_df[ev_column]), 2)
result_df["SV"]= round(sv(result_df[pv_column], result_df[ev_column]), 2)
result_df["CPI"] = cpi(result_df[ac_column], result_df[ev_column])
result_df["SPI"] = spi(result_df[ev_column], result_df[pv_column])
result_df["CSI/CR"] = csi(result_df["CPI"], result_df["SPI"])
result_bac = round(bac(edited_df[pv_column]),2)
result_df["EAC"] = round(eac(result_bac, result_df["CPI"]),2)
result_df["ETC"] = round(etc(result_df["EAC"] , result_df[ac_column]),2)

In [124]:
result_df

,Planned Value (PV),Earned Value (EV),Actual Cost (AC),CV,SV,CPI,SPI,CSI/CR,EAC,ETC
1.0,10000.0,11666.67,10833.0,833.67,1666.67,1.076957,1.166667,1.256450,92854.26,82021.26
2.0,20000.0,23333.34,21666.0,1667.34,3333.34,1.076957,1.166667,1.256450,92854.26,71188.26
3.0,30000.0,35000.01,32499.0,2501.01,5000.01,1.076957,1.166667,1.256450,92854.26,60355.26
4.0,40000.0,46666.68,43332.0,3334.68,6666.68,1.076957,1.166667,1.256450,92854.26,49522.26
5.0,50000.0,58333.35,54165.0,4168.35,8333.35,1.076957,1.166667,1.256450,92854.26,38689.26
6.0,60000.0,70000.02,64998.0,5002.02,10000.02,1.076957,1.166667,1.256450,92854.26,27856.26
7.0,70000.0,70000.02,64998.0,5002.02,0.02,1.076957,1.000000,1.076957,92854.26,27856.26
8.0,80000.0,70000.02,64998.0,5002.02,-9999.98,1.076957,0.875000,0.942337,92854.26,27856.26
9.0,90000.0,70000.02,64998.0,5002.02,-19999.98,1.076957,0.777778,0.837633,92854.26,27856.26
10.0,100000.0,70000.02,64998.0,5002.02,-29999.98,1.076957,0.700000,0.753870,92854.26,27856.26

In [32]:
result = pd.DataFrame(accumulated, index=semanas).T

     Planned Value (PV)  Actual Cost (AC)  Earned Value (EV)
1.0             10000.0          10833.33           11666.67
2.0             20000.0          21666.66           23333.34
3.0             30000.0          32499.99           35000.01
4.0             40000.0          43333.32           46666.68
5.0             50000.0          54166.65           58333.35
6.0             60000.0          64999.98           70000.02

In [118]:
result_df.T

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0
Planned Value (PV),10000.000000,20000.000000,30000.000000,40000.000000,50000.000000,60000.000000,70000.000000,80000.000000,90000.000000,100000.000000
Earned Value (EV),11666.670000,23333.340000,35000.010000,46666.680000,58333.350000,70000.020000,70000.020000,70000.020000,70000.020000,70000.020000
Actual Cost (AC),10833.000000,21666.000000,32499.000000,43332.000000,54165.000000,64998.000000,64998.000000,64998.000000,64998.000000,64998.000000
CPI,1.076957,1.076957,1.076957,1.076957,1.076957,1.076957,1.076957,1.076957,1.076957,1.076957
SPI,1.166667,1.166667,1.166667,1.166667,1.166667,1.166667,1.000000,0.875000,0.777778,0.700000
CV,833.670000,1667.340000,2501.010000,3334.680000,4168.350000,5002.020000,5002.020000,5002.020000,5002.020000,5002.020000
SV,1666.670000,3333.340000,5000.010000,6666.680000,8333.350000,10000.020000,0.020000,-9999.980000,-19999.980000,-29999.980000
CSI/CR,1.256450,1.256450,1.256450,1.256450,1.256450,1.256450,1.076957,0.942337,0.837633,0.753870
EAC,92854.259184,92854.259184,92854.259184,92854.259184,92854.259184,92854.259184,92854.259184,92854.259184,92854.259184,92854.259184
ETC,82021.259184,71188.259184,60355.259184,49522.259184,38689.259184,27856.259184,27856.259184,27856.259184,27856.259184,27856.259184